.root{
    background-color: rgb(37, 42, 55);
    height: auto;
    color: white;
}

.navbar {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.navbar > a{
    color: white;
    font-size: 20px;
}

.lgsu {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}